.chopping-container {
    position: fixed;
    width: 80%;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: $spasing-large;
    background: $white;
    box-shadow: $box-shadow;
    overflow: scroll;
    .chopping-element {
        &__img{
            height: 50px;
            width: 50px;
        }
        &__name {
            font-family: $Montserat;
            padding: $spasing-medium;
            font-size: 14px;
        }
        &__price {
            font-family: $Montserat;
            padding: $spasing-medium;
            font-size: 14px;
            color: $c80;
        }
    }
    .chopping__close{
        position: fixed;
        width: 35px;
        height: 35px;
        top: 20px;
        right: 20px;
    }
    .chopping__close-element { 
        width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
    background-color: rgb(195, 65, 65);
    cursor: pointer;
    color: white;
    text-align: center;
    justify-self: center;
    font-size: 20px;
}
}
