#sidebar {

  justify-self: center;
  grid-area: sidebar;
  color: $c80;

  .sidebar-container {
    padding: 20px;
    font-size: 25px;
    
      & li {
        cursor: pointer;
      }
    
    
  }
}
.selectmenu{
  border-bottom: 1px dotted $color-blue;
}
