#footer{
    grid-area: footer;
    background: black;
    color: white;
    & .footer-container{
        width: 60%;
        margin: 0 auto;
    }     
}

    .footer-element {
        &__title {
        }
        &__text {
        }
        
        &__coperait {
        }
        
    }










