
@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/montserrat-v23-latin_cyrillic-700.woff2') format('woff2'),
    url('/src/fonts/montserrat-v23-latin_cyrillic-700.woff') format('woff');
}
@font-face {
  font-family: 'CormorantGaramond_Bold';
  src: url('/src/fonts/CormorantGaramond-Bold.ttf');
    }
@font-face {
  font-family: 'CormorantGaramond_Regular';
  src: url('/src/fonts/CormorantGaramond-Regular.ttf');
    }
@font-face {
  font-family: 'CormorantGaramond_SemiBold';
  src: url('/src/fonts/CormorantGaramond-SemiBold.ttf');
    }
