$Montserat: 'Montserrat';
$CormBolt: 'CormorantGaramond_Bold';
$CormRegular: 'CormorantGaramond_Regular';
$CormSemiBold: 'CormorantGaramond_SemiBold';


$container-cart-list: 1172px;

$light: #f9fafb;
$white: #fff;
$c80: #808080;
$ccb: #cbcccd;
$red-light: #e75555;
$header-color: #fbcd08;
$color-text-logo: #761719;
$color-dark-grey: #a1a1a1;
$color-error-light: #f25b6b;
$color-error-dark: #d65c5c;
$color-blue: #3199dc;
$color-dark: #222222;


$font-size-average:  1.6rem;


$spasing-small: 10px;
$spasing-medium: 15px;
$spasing-large: 30px;


$transition-ease: all .5s ease;

$card-grid: repeat(6, 3fr); 
$card-rows: minmax(200px, auto) minmax(24px,50px) minmax(70px, auto)  2rem;

$position-center: center;


$border-radius: 3px;
$border-radius-average: 10px;


$header-gradient-message: linear-gradient(to right, #a64545, #8a3131, #a44343, #740f0f, #771717,#570a0a,#8a3131);
$header-gradient: linear-gradient(to right, #c04dfd, #fbcd08, #fbcd08, #fbcd08, #ead161,#fbcd08,#c04dfd);
$linear-gradient-grey: linear-gradient(to right, #656562, #a4a59f, #949290, #898a84, #6d6f67,#a1a29e,#c6cdb8);
$linear-gradient-violet: linear-gradient(to bottom, #e4bcf8, #aa1ff5, #aa1ff5, #aa1ff5, #aa1ff5,#aa1ff5,#aa1ff5,#aa1ff5,#e4bcf8);
$box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);







